.feature {
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 7rem;
        margin-bottom: 7rem;
        .txts {
            flex-basis: 46%;

            h2 {
                font-size: 3rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.1rem;
                color: #aaa;
                margin-bottom: 4rem;
            }

            .btn {
                font-size: 1.1rem;
                background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
                border-radius: 10px;
                padding: 1rem 2rem;
                font-weight: 400;
                color: var(--black);
            }
        }

        .feat {
            flex-basis: 35%;
            .box {

                border-radius: 20px;
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;

                &:hover {
                    background: linear-gradient(#3e3d3d, #14101D);
                    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);

                }

                .icon {
                    i {
                        font-size: 2rem;
                        color: var(--main-color);
                        background: rgba(9, 151, 124, 0.1);
                        padding: 1rem;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }

                }
                .info {
                    h3 {
                        font-size: 1.1rem;
                    }

                    p{
                        font-size: 1rem;
                        color: #aaa;

                    }
                }
            }
        }
    }
}
@media (width < 991px){
    .feature{
        .container{
            flex-direction: column;
        }
    }
}
@media (width < 768px){
    .feature{
        .container{
            .txts{
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .box{
                flex-direction: column;
                .info{
                    text-align: center;
                }
            }
        }
    }
    .app{
        flex-direction: column;
    }
}
// 
.control{
    .container{
        align-items: center;
        .txts{
            flex-basis: 50%;
            img{
                width: 100%;
            }
        }
        .feat{
            h3{
                font-size: 3rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.1rem;
                color: #aaa;
                margin-bottom: 2.5rem;
            }
            .app{
                display: flex;
                gap: 2rem;
                a{
                    img{
                        width: 180px;
                    }
                }
            }
        }
    }
}
// deal
.deal{
    .container{
        align-items: center;
        .txts{
            flex-basis: 40%;
            img{
                width: 100%;
            }
        }
        .feat{
            flex-basis: 40%;
            h3{
                font-size: 3rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: 1.1rem;
                color: #aaa;
                margin-bottom: 3.5rem;
            }
            .btn{
                font-size: 1.1rem;
                background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
                border-radius: 10px;
                padding: 1rem 2rem;
                font-weight: 400;
                color: var(--black);
            }
        }
    }
}
@media (width < 768px){
    .control{
        .container{
            .feat{
                h3{
                    font-size: 2rem;
                }
            }
        }
    }
    .deal{
        .container{

            .feat{
                h3{
                    font-size: 2rem;
                }
            }
        }
    }
}
// 
.say{
    .container{
        align-items: flex-end;
        .feat{
            h3{
                font-size: 3rem;
            }
        }
        .txts{
            flex-basis: 35%;
        }
    }
}