footer {
    background-color: var(--background);
    color: var(--white);
    padding: 4rem 0;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 3rem;
        justify-items: center;
        .info {
            .logo{
                display: flex;
                align-items: center;
                gap: .5rem;
                margin-bottom: 2rem;
                h1{
                    font-weight: 500;
                    span{
                        color: var(--main-color);
                    }
                }
            }
            p{
                font-weight: 400;
                color: #aaa;
            }
        }

        h4 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }


        .blog {
            line-height: 2;
            display: flex;
            flex-direction: column;
            a {
                color: #aaa;
                &:hover{
                    color: var(--white);
                }
            }
        }
    }
}
.footer{
    background-color: var(--background);
    color: var(--white);
    padding: 1rem 0;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: -10px;
        width: 70%;
        height: 1px;
        background-color: #3F3E45;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    .container{
        display: flex;
        justify-content: space-between;
        span{
            a{
                color: var(--white);
                border-bottom: 1px solid var(--main-color);
                &:hover{
                    color: var(--main-color);
                }
            }
        }
        .social{
            display: flex;
            gap: 2rem;
            a{
                i{
                    font-size: 2rem;
                    color: var(--white);
                    &:hover{
                        color: var(--main-color);
                    }
                }
            }
        }
    }

}
@media (max-width:768px) {
    .footer{
        .container{
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }
    }
}